.truncate-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Show only 3 lines */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}
.toggleBtn {
  cursor: pointer;
  width: fit-content;
}
