<section class="bg-[#050505] text-white pt-40 pb-40" style="font-family: 'Manrope', 'Open Sans', sans-serif">
  <div class="max-w-6xl mx-auto px-4 flex flex-col md:flex-row items-center justify-between">

    <!-- Left: Text -->
    <div class="md:w-1/2 text-left">
      <p class="text-4xl md:text-6xl">
        Contact <span class="text-[#E76F51] italic">us</span>
      </p>
      <p class="font-light text-lg leading-[24px] mt-4">
        The assurance of a prompt response, and we will get back to
        <span class="block">you as soon as possible, underscores attentiveness and</span>
        <span class="block">commitment to addressing inquiries.</span>
      </p>
    </div>

    <!-- Right: Image -->
    <div class="md:w-1/2 mt-10 md:mt-0 flex justify-center md:justify-end">
      <img src="contactus_hero.svg" alt="Contact Illustration" class="w-[20rem] max-w-md">
    </div>

  </div>
</section>
