<section class="bg-black text-white pt-40 pb-40" style="font-family: 'Manrope', 'Open Sans', sans-serif">
    <div class="max-w-2xl mx-auto text-center px-4">
      <p class="font-semibold text-4xl md:text-6xl">
        Contact <span class="text-[#E76F51] italic">us</span>
      </p>

      <p class="font-light text-lg leading-[24px] text-center mt-[0.5rem]">
        The assurance of a prompt response, and we will get back to <span class="block">
        you as soon as possible, underscores attentiveness and </span>
        <span class="block"> commitment to addressing inquiries.</span>
      </p>

    </div>
</section>
