<div class="bg-gray-900 text-white w-full">
  <app-header></app-header>
  <app-home-hero-section></app-home-hero-section>
  <app-home-what-we-do></app-home-what-we-do>
  <app-area-of-expertise></app-area-of-expertise>
  <app-our-products></app-our-products>
  <app-about-us></app-about-us>
  <app-global-impact></app-global-impact>
  <app-trusted-leaders></app-trusted-leaders>
  <app-recent-blogs></app-recent-blogs>
  <!-- <app-expert-section></app-expert-section> -->
  <app-footer></app-footer>
</div>
