<section class="bg-[#EAF4F2] text-[#12423C] py-16 px-6 sm:px-6 lg:px-8">
  <div class="max-w-[98rem] mx-auto">
    <h2 class="text-3xl font-bold mb-20 tracking-wide text-center">Features</h2>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-24 md:gap-20 sm:gap-12">
      <!-- Feature Item 1 -->
      <div class="space-y-4 sm:flex sm:items-start sm:gap-4 text-left">
        <div class="w-16 h-16 flex-shrink-0">
          <img src="unified-data-repository.png" alt="Unified Data Repository">
        </div>
        <div class="feature-text-container">
          <h3 class="text-2xl font-semibold">Unified Data Repository</h3>
          <p id="desc-1" class="text-[#12423C] mt-2 truncate-text">
            Seamlessly integrates data from multiple sources, unlocking valuable insights and enabling informed decision-making. Creates a cohesive and comprehensive view of your organization's information landscape. Ensuring that data is accessible, and actionable.
          </p>
          <button (click)="toggleDescription(1)" 
            [attr.data-id]="1" class="text-[#E76F51] hover:text-[#E65A4E] font-medium mt-3 inline-block hover:underline">
            Read More →
          </button>
        </div>
      </div>

      <!-- Feature Item 2 -->
      <div class="space-y-4 sm:flex sm:items-start sm:gap-4 text-left">
        <div class="w-16 h-16 flex-shrink-0">
          <img src="information-transformation.png" alt="Information Transformation">
        </div>
        <div class="feature-text-container">
          <h3 class="text-2xl font-semibold">Information Transformation</h3>
          <p id="desc-2" class="text-[#12423C] mt-2 truncate-text">
            Converting raw, disconnected data into meaningful insights and actionable intelligence. Using advanced analytics, data cleansing, and visualization techniques, 4iG® empowers organizations to derive valuable insights, make informed decisions, and drive business growth.
          </p>
          <button (click)="toggleDescription(2)" 
          [attr.data-id]="2" class="text-[#E76F51] hover:text-[#E65A4E] font-medium mt-3 inline-block hover:underline">
            Read More →
          </button>
        </div>
      </div>

      <!-- Feature Item 3 -->
      <div class="space-y-4 sm:flex sm:items-start sm:gap-4 text-left">
        <div class="w-16 h-16 flex-shrink-0">
          <img src="on-premise-or-in-the-cloud.png" alt="Deployment Options">
        </div>
        <div class="feature-text-container">
          <h3 class="text-2xl font-semibold">On-Premise Or In The Cloud</h3>
          <p id="desc-3" class="text-[#12423C] mt-2 truncate-text">
            4iG®'s suite of applications offers flexible deployment options, allowing you to choose between on-premises installation or cloud-based deployment. Whether you prefer the control and security of hosting your software on-site or the scalability and accessibility of the cloud, our solutions cater to meet our client's requirements.
          </p>
          <button (click)="toggleDescription(3)" 
          [attr.data-id]="3" class="text-[#E76F51] hover:text-[#E65A4E] font-medium mt-3 inline-block hover:underline">
            Read More →
          </button>
        </div>
      </div>

      <!-- Feature Item 4 -->
      <div class="space-y-4 sm:flex sm:items-start sm:gap-4 text-left">
        <div class="w-16 h-16 flex-shrink-0">
          <img src="cohesive-search-discovery.png" alt="Search & Discovery">
        </div>
        <div class="feature-text-container">
          <h3 class="text-2xl font-semibold">Cohesive Search & Discovery</h3>
          <p id="desc-4" class="text-[#12423C] mt-2 truncate-text">
            Effortlessly navigate vast volumes of data, gain comprehensive insights, and streamline collaboration with advanced search capabilities and robust analytics tools. Scalable, secure, and intuitive, our platform empowers legal professionals to uncover actionable insights and achieve unparalleled efficiency in their legal operations.
          </p>
          <button (click)="toggleDescription(4)" 
          [attr.data-id]="4" class="text-[#E76F51] hover:text-[#E65A4E] font-medium mt-3 inline-block hover:underline">
            Read More →
          </button>
        </div>
      </div>

      <!-- Feature Item 5 -->
      <div class="space-y-4 sm:flex sm:items-start sm:gap-4 text-left">
        <div class="w-16 h-16 flex-shrink-0">
          <img src="powerful-visualizations.png" alt="Visualizations">
        </div>
        <div class="feature-text-container">
          <h3 class="text-2xl font-semibold">Powerful Visualizations</h3>
          <p id="desc-5" class="text-[#12423C] mt-2 truncate-text">
            With our powerful interactive charts and graphs, users are able to explore and analyze vast volumes of data with ease. Navigate through complex data sets effortlessly, gaining deeper insights into your data by uncovering key trends, relationships, and anomalies.
          </p>
          <button (click)="toggleDescription(5)" 
          [attr.data-id]="5" class="text-[#E76F51] hover:text-[#E65A4E] font-medium mt-3 inline-block hover:underline">
            Read More →
          </button>
        </div>
      </div>

      <!-- Feature Item 6 -->
      <div class="space-y-4 sm:flex sm:items-start sm:gap-4 text-left">
        <div class="w-16 h-16 flex-shrink-0">
          <img src="third-party-integrations.png" alt="Integrations">
        </div>
        <div class="feature-text-container">
          <h3 class="text-2xl font-semibold">Third-Party Integrations</h3>
          <p id="desc-6" class="text-[#12423C] mt-2 truncate-text">
            No more manual data extractions - whether it's emails, documents, social media, or cloud-based repositories, 4iG® enables you to connect to your data wherever it resides. With robust connectors using enhanced APIs, accessing data from third-party systems is effortless. 4iG® platform automates data retrieval processes and streamlines data analysis, enabling you to focus on the task at hand – uncovering insights and building your case.
          </p>
          <button (click)="toggleDescription(6)" 
          [attr.data-id]="6" class="text-[#E76F51] hover:text-[#E65A4E] font-medium mt-3 inline-block hover:underline">
            Read More →
          </button>
        </div>
      </div>

      <!-- Feature Item 7 -->
      <div class="space-y-4 sm:flex sm:items-start sm:gap-4 text-left">
        <div class="w-16 h-16 flex-shrink-0">
          <img src="actionable-intelligence.png" alt="Actionable Intelligence">
        </div>
        <div class="feature-text-container">
          <h3 class="text-2xl font-semibold">Actionable Intelligence</h3>
          <p id="desc-7" class="text-[#12423C] mt-2 truncate-text">
            4iG® has a suite of powerful tools and features designed to extract maximum value from your data. From indexing and searching data in place, predictive analytics, PXI detection, sentiment analysis, entity recognition., 4iG® delivers actionable insights that matter. Our platform goes beyond traditional processes such as over collecting. We offer actionable intelligence that transforms raw, disassociated information into strategic assets. With advanced analytics and machine learning capabilities, we empower legal professionals to uncover hidden patterns, trends, and relationships within their data, driving impactful decisions and achieving favorable legal outcomes.
          </p>
          <button (click)="toggleDescription(7)" 
          [attr.data-id]="7" class="text-[#E76F51] hover:text-[#E65A4E] font-medium mt-3 inline-block hover:underline">
            Read More →
          </button>
        </div>
      </div>

      <!-- Feature Item 8 -->
      <div class="space-y-4 sm:flex sm:items-start sm:gap-4 text-left">
        <div class="w-16 h-16 flex-shrink-0">
          <img src="comprehensive-audit-reporting.png" alt="Audit & Reporting">
        </div>
        <div class="feature-text-container">
          <h3 class="text-2xl font-semibold">Comprehensive Audit & Reporting</h3>
          <p id="desc-8" class="text-[#12423C] mt-2 truncate-text">
            Our Comprehensive Audit & Reporting solutions, track every action taken within your platform, ensuring complete visibility into data handling processes. From data ingestion and processing to reviewer analysis and production, our platform captures every interaction, providing a detailed audit trail of data access, modifications, and deletions.
          </p>
          <button (click)="toggleDescription(8)" 
          [attr.data-id]="8" class="text-[#E76F51] hover:text-[#E65A4E] font-medium mt-3 inline-block hover:underline">
            Read More →
          </button>
        </div>
      </div>

      <!-- Feature Item 9 -->
      <div class="space-y-4 sm:flex sm:items-start sm:gap-4 text-left">
        <div class="w-16 h-16 flex-shrink-0">
          <img src="tag-track-and-secure.png" alt="Tag Management">
        </div>
        <div class="feature-text-container">
          <h3 class="text-2xl font-semibold">Tag, Track, and Secure</h3>
          <p id="desc-9" class="text-[#12423C] mt-2 truncate-text">
            Identifying and categorizing sensitive data is essential for compliance and security. 4iG offers effortless tagging capabilities, enabling organizations to label data with custom tags, metadata, and classifications. With intuitive tagging features such as within a group or batch or across entire data set, ensures sensitive information is properly identified and managed throughout its lifecycle. 4iG® provides comprehensive tracking mechanisms that monitor data access, modifications, and sharing activities in real-time. From user activity logs to audit trails, gain visibility into every interaction with your data, ensuring compliance with regulatory requirements and internal policies.
          </p>
          <button (click)="toggleDescription(9)" 
          [attr.data-id]="9" class="text-[#E76F51] hover:text-[#E65A4E] font-medium mt-3 inline-block hover:underline">
            Read More →
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
