<!-- eslint-disable @angular-eslint/template/elements-content -->
<section class="bg-[#EAF4F2] text-black flex items-center justify-center min-h-screen py-16 px-6">
  <div class="max-w-6xl mx-auto">
    <p class="text-[#198C7B] uppercase text-center text-sm font-semibold tracking-wide">
      WORK WITH US
    </p>
    <h1 class="text-4xl text-center md:text-5xl font-light font-semibold">
      Meet The
      <span class="italic">Best</span> Team
    </h1>

    <!-- Team Members Grid -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-10">

      <!-- Card 1 - Elie Francis -->
      <div class="bg-white flex rounded-xl shadow-md overflow-hidden relative">
        <a [routerLink]="['/AboutUs/member']" class="absolute inset-0 z-10"></a>
        <img src="Elie-Francis-Resize.png" alt="Elie Francis" class="w-36 h-auto object-cover rounded-l-xl">
        <div class="p-4 flex flex-col justify-between flex-1">
          <div>
            <h2 class="text-lg font-semibold">Elie Francis</h2>
            <p class="text-sm text-[#2A9D8F] font-medium">CEO</p>
            <p class="text-gray-600 text-sm mt-2">
              I have dedicated myself to pushing our limits to ensure the success of our platform...
            </p>
          </div>
          <div class="flex items-center space-x-3 mt-4 relative z-20">
            <a class="border border-gray-600 rounded-full w-9 h-9 flex items-center justify-center hover:bg-gray-800 hover:text-white text-black transition">
              <i class="fa-brands fa-linkedin-in text-lg"></i>
            </a>
            <a class="border border-gray-600 rounded-full w-9 h-9 flex items-center justify-center hover:bg-gray-800 hover:text-white text-black transition">
              <i class="fa-brands fa-twitter text-lg"></i>
            </a>
          </div>
        </div>
      </div>

      <!-- Card 2 - Doug Kaminski -->
      <div class="bg-white flex rounded-xl shadow-md overflow-hidden relative">
        <a  class="absolute inset-0 z-10"></a>
        <img src="doug.png" alt="Doug Kaminski" class="w-36 h-auto object-cover rounded-l-xl">
        <div class="p-4 flex flex-col justify-between flex-1">
          <div>
            <h2 class="text-lg font-semibold">Doug Kaminski</h2>
            <p class="text-sm text-[#2A9D8F] font-medium">Chief Revenue Officer</p>
            <p class="text-gray-600 text-sm mt-2">
              Our relentless commitment to innovation and excellence drives us...
            </p>
          </div>
          <div class="flex items-center space-x-3 mt-4 relative z-20">
            <a  class="border border-gray-600 rounded-full w-9 h-9 flex items-center justify-center hover:bg-gray-800 hover:text-white text-black transition">
              <i class="fa-brands fa-linkedin-in text-lg"></i>
            </a>
            <a  class="border border-gray-600 rounded-full w-9 h-9 flex items-center justify-center hover:bg-gray-800 hover:text-white text-black transition">
              <i class="fa-brands fa-twitter text-lg"></i>
            </a>
          </div>
        </div>
      </div>

      <!-- Card 3 - Tom Skelley -->
      <div class="bg-white flex rounded-xl shadow-md overflow-hidden relative">
        <a  class="absolute inset-0 z-10"></a>
        <img src="tom.png" alt="Tom Skelley" class="w-36 h-auto object-cover rounded-l-xl">
        <div class="p-4 flex flex-col justify-between flex-1">
          <div>
            <h2 class="text-lg font-semibold">Tom Skelley</h2>
            <p class="text-sm text-[#2A9D8F] font-medium">SVP, Growth & Transformation</p>
            <p class="text-gray-600 text-sm mt-2">
              Our unwavering dedication to innovation drives us to enhance...
            </p>
          </div>
          <div class="flex items-center space-x-3 mt-4 relative z-20">
            <a  class="border border-gray-600 rounded-full w-9 h-9 flex items-center justify-center hover:bg-gray-800 hover:text-white text-black transition">
              <i class="fa-brands fa-linkedin-in text-lg"></i>
            </a>
            <a  class="border border-gray-600 rounded-full w-9 h-9 flex items-center justify-center hover:bg-gray-800 hover:text-white text-black transition">
              <i class="fa-brands fa-twitter text-lg"></i>
            </a>
          </div>
        </div>
      </div>

      <!-- Card 4 - Brian Wolfinger -->
      <div class="bg-white flex rounded-xl shadow-md overflow-hidden relative">
        <a  class="absolute inset-0 z-10"></a>
        <img src="Brian.png" alt="Brian Wolfinger" class="w-36 h-auto object-cover rounded-l-xl">
        <div class="p-4 flex flex-col justify-between flex-1">
          <div>
            <h2 class="text-lg font-semibold">Brian Wolfinger</h2>
            <p class="text-sm text-[#2A9D8F] font-medium">Chief Information Security Officer</p>
            <p class="text-gray-600 text-sm mt-2">
              We are dedicated to improving our platform to meet evolving needs...
            </p>
          </div>
          <div class="flex items-center space-x-3 mt-4 relative z-20">
            <a  class="border border-gray-600 rounded-full w-9 h-9 flex items-center justify-center hover:bg-gray-800 hover:text-white text-black transition">
              <i class="fa-brands fa-linkedin-in text-lg"></i>
            </a>
            <a  class="border border-gray-600 rounded-full w-9 h-9 flex items-center justify-center hover:bg-gray-800 hover:text-white text-black transition">
              <i class="fa-brands fa-twitter text-lg"></i>
            </a>
          </div>
        </div>
      </div>

      <!-- Card 5 - Charles Lavallee -->
      <div class="bg-white flex rounded-xl shadow-md overflow-hidden relative">
        <a  class="absolute inset-0 z-10"></a>
        <img src="charles.png" alt="Charles Lavallee" class="w-36 h-auto object-cover rounded-l-xl">
        <div class="p-4 flex flex-col justify-between flex-1">
          <div>
            <h2 class="text-lg font-semibold">Charles Lavallee</h2>
            <p class="text-sm text-[#2A9D8F] font-medium">Director, Business Development</p>
            <p class="text-gray-600 text-sm mt-2">
              I have dedicated myself to pushing our limits to ensure the success of our platform...
            </p>
          </div>
          <div class="flex items-center space-x-3 mt-4 relative z-20">
            <a  class="border border-gray-600 rounded-full w-9 h-9 flex items-center justify-center hover:bg-gray-800 hover:text-white text-black transition">
              <i class="fa-brands fa-linkedin-in text-lg"></i>
            </a>
            <a class="border border-gray-600 rounded-full w-9 h-9 flex items-center justify-center hover:bg-gray-800 hover:text-white text-black transition">
              <i class="fa-brands fa-twitter text-lg"></i>
            </a>
          </div>
        </div>
      </div>

      <!-- Card 6 - Nirav Avaiya -->
      <div class="bg-white flex rounded-xl shadow-md overflow-hidden relative">
        <a  class="absolute inset-0 z-10"></a>
        <img src="nirav_avaiya.png" alt="Nirav Avaiya" class="w-36 h-auto object-cover rounded-l-xl">
        <div class="p-4 flex flex-col justify-between flex-1">
          <div>
            <h2 class="text-lg font-semibold">Nirav Avaiya</h2>
            <p class="text-sm text-[#2A9D8F] font-medium">Co-Founder</p>
            <p class="text-gray-600 text-sm mt-2">
              Our relentless commitment to innovation and excellence drives us...
            </p>
          </div>
          <div class="flex items-center space-x-3 mt-4 relative z-20">
            <a  class="border border-gray-600 rounded-full w-9 h-9 flex items-center justify-center hover:bg-gray-800 hover:text-white text-black transition">
              <i class="fa-brands fa-linkedin-in text-lg"></i>
            </a>
            <a  class="border border-gray-600 rounded-full w-9 h-9 flex items-center justify-center hover:bg-gray-800 hover:text-white text-black transition">
              <i class="fa-brands fa-twitter text-lg"></i>
            </a>
          </div>
        </div>
      </div>

      <!-- Card 7 - Nitesh Gajjar -->
      <div class="bg-white flex rounded-xl shadow-md overflow-hidden relative">
        <a  class="absolute inset-0 z-10"></a>
        <img src="nitesh_gajjar.png" alt="Nitesh Gajjar" class="w-36 h-auto object-cover rounded-l-xl">
        <div class="p-4 flex flex-col justify-between flex-1">
          <div>
            <h2 class="text-lg font-semibold">Nitesh Gajjar</h2>
            <p class="text-sm text-[#2A9D8F] font-medium">Chief Technology Officer (CTO)</p>
            <p class="text-gray-600 text-sm mt-2">
              Our unwavering dedication to innovation drives us to enhance...
            </p>
          </div>
          <div class="flex items-center space-x-3 mt-4 relative z-20">
            <a  class="border border-gray-600 rounded-full w-9 h-9 flex items-center justify-center hover:bg-gray-800 hover:text-white text-black transition">
              <i class="fa-brands fa-linkedin-in text-lg"></i>
            </a>
            <a  class="border border-gray-600 rounded-full w-9 h-9 flex items-center justify-center hover:bg-gray-800 hover:text-white text-black transition">
              <i class="fa-brands fa-twitter text-lg"></i>
            </a>
          </div>
        </div>
      </div>

      <!-- Card 8 - Hitesh Zinzuwadiya -->
      <div class="bg-white flex rounded-xl shadow-md overflow-hidden relative">
        <a  class="absolute inset-0 z-10"></a>
        <img src="hitesh.png" alt="Hitesh Zinzuwadiya" class="w-36 h-auto object-cover rounded-l-xl">
        <div class="p-4 flex flex-col justify-between flex-1">
          <div>
            <h2 class="text-lg font-semibold">Hitesh Zinzuwadiya</h2>
            <p class="text-sm text-[#2A9D8F] font-medium">Co-Founder & Chief Data Scientist</p>
            <p class="text-gray-600 text-sm mt-2">
              We are dedicated to improving our platform to meet evolving needs...
            </p>
          </div>
          <div class="flex items-center space-x-3 mt-4 relative z-20">
            <a  class="border border-gray-600 rounded-full w-9 h-9 flex items-center justify-center hover:bg-gray-800 hover:text-white text-black transition">
              <i class="fa-brands fa-linkedin-in text-lg"></i>
            </a>
            <a class="border border-gray-600 rounded-full w-9 h-9 flex items-center justify-center hover:bg-gray-800 hover:text-white text-black transition">
              <i class="fa-brands fa-twitter text-lg"></i>
            </a>
          </div>
        </div>
      </div>

      <!-- Card 9 - Hari Pandya -->
      <div class="bg-white flex rounded-xl shadow-md overflow-hidden relative">
        <a  class="absolute inset-0 z-10"></a>
        <img src="hari.png" alt="Hari Pandya" class="w-36 h-auto object-cover rounded-l-xl">
        <div class="p-4 flex flex-col justify-between flex-1">
          <div>
            <h2 class="text-lg font-semibold">Hari Pandya</h2>
            <p class="text-sm text-[#2A9D8F] font-medium">Co-Founder</p>
            <p class="text-gray-600 text-sm mt-2">
              Our unwavering dedication to innovation drives us to enhance...
            </p>
          </div>
          <div class="flex items-center space-x-3 mt-4 relative z-20">
            <a  class="border border-gray-600 rounded-full w-9 h-9 flex items-center justify-center hover:bg-gray-800 hover:text-white text-black transition">
              <i class="fa-brands fa-linkedin-in text-lg"></i>
            </a>
            <a  class="border border-gray-600 rounded-full w-9 h-9 flex items-center justify-center hover:bg-gray-800 hover:text-white text-black transition">
              <i class="fa-brands fa-twitter text-lg"></i>
            </a>
          </div>
        </div>
      </div>

      <!-- Card 10 - Naitik Jani -->
      <div class="bg-white flex rounded-xl shadow-md overflow-hidden relative">
        <a  class="absolute inset-0 z-10"></a>
        <img src="naitik.png" alt="Naitik Jani" class="w-36 h-auto object-cover rounded-l-xl">
        <div class="p-4 flex flex-col justify-between flex-1">
          <div>
            <h2 class="text-lg font-semibold">Naitik Jani</h2>
            <p class="text-sm text-[#2A9D8F] font-medium">Director, Product Management</p>
            <p class="text-gray-600 text-sm mt-2">
              We are dedicated to improving our platform to meet evolving needs...
            </p>
          </div>
          <div class="flex items-center space-x-3 mt-4 relative z-20">
            <a  class="border border-gray-600 rounded-full w-9 h-9 flex items-center justify-center hover:bg-gray-800 hover:text-white text-black transition">
              <i class="fa-brands fa-linkedin-in text-lg"></i>
            </a>
            <a  class="border border-gray-600 rounded-full w-9 h-9 flex items-center justify-center hover:bg-gray-800 hover:text-white text-black transition">
              <i class="fa-brands fa-twitter text-lg"></i>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>