<section class="bg-[#EAF4F2] text-black flex items-center justify-center min-h-screen py-16 px-6">
  <div class="max-w-6xl mx-auto">
    <p class="text-[#198C7B] uppercase text-center text-sm font-semibold tracking-wide">
      WORK WITH US
    </p>
    <h1 class="text-4xl text-center font-semibold text-[#12423C]">
      Meet The
      <span class="italic">Best</span> Team
    </h1>

    <!-- Team Members Grid -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-10">

      <!-- Card 1 - Elie Francis -->
      <div class="bg-white flex rounded-xl shadow-md overflow-hidden relative" *ngFor="let author of authors;">
        <!--<div class="transform transition duration-300 hover:scale-105">
        </div>-->

        <a [routerLink]="['Member', author.name, author.guid]" class="absolute inset-0 z-10 cursor-pointer">
        </a>
        <img [src]="author.image" alt="Elie Francis" class="w-36 h-auto object-cover rounded-l-xl">
        <div class="p-4 flex flex-col justify-between flex-1">
          <div>
              <h2 class="text-lg font-semibold">{{ author.name }}</h2>
            <p class="text-sm text-[#2A9D8F] font-medium">{{ author.designation }}</p>
            <p class="text-gray-600 text-sm mt-2 truncate-text">
              {{ author.description }}
            </p>
          </div>
          <div class="flex items-center space-x-3 mt-4 relative z-20 pointer-events-auto">
            <a *ngIf="author.socialMediaLink"
               [href]="author.socialMediaLink"
               (click)="$event.stopPropagation()"
               target="_blank"
               class="border border-gray-600 rounded-full w-9 h-9 flex items-center justify-center hover:bg-gray-800 hover:text-white text-black transition">
              <i class="fa-brands fa-linkedin-in text-lg"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
