<section class="scroll-bg-transition text-black py-10 md:py-16" style="font-family: 'Manrope', 'Open Sans', sans-serif">
  <div class="max-w-7xl mx-auto px-4">
    <!-- Section Title -->
    <h2 class="text-4xl font-semibold text-center mb-8">
      Recent <span class="text-[#E76F51] italic">{{ category }}</span>
    </h2>

    <!-- Posts Grid -->
    <div id="blog-grid" class="grid md:grid-cols-3 gap-8" #blogGrid>
      <!-- Blog cards will be dynamically injected here by JavaScript -->

    </div>

    <!-- Load More Button -->
    <div class="flex justify-center mt-8">
      <button id="loadMoreBtn" class="common w-[7rem] h-[2.75rem] mt-[2rem]" #loadMoreBtn>
        Load More
      </button>
    </div>
  </div>
</section>
