.truncate-text {
  max-height: 4.5em; /* Approx 3 lines */
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.slide-toggle {
  max-height: 1000px; /* Simulate slide down - should be larger than any actual content */
  transition: max-height 0.5s ease;
  overflow: hidden;
}
.slide-toggle.collapsing {
  max-height: 4.5em;
}
