<div class="bg-[#ffffff] text-white w-full">
  <app-header></app-header>
  <app-products-hero-section [product]="'breach-profiler'"></app-products-hero-section>
  <app-products-breach-product></app-products-breach-product>
  <app-products-breach-list></app-products-breach-list>
  <app-products-breach-advantages></app-products-breach-advantages>
  <app-products-breach-features></app-products-breach-features>
  <app-trusted-leaders [bgColor]="'#ffffff'"></app-trusted-leaders>
  <!-- <app-expert-section [headingText]="'Want to see it in action?'"></app-expert-section> -->
  <app-footer></app-footer>
</div>