<section class="relative h-screen flex items-center justify-center overflow-hidden bg-black"
         style="font-family: 'Manrope', 'Open Sans', sans-serif">
  <!-- Content Container -->
  <div class="relative z-10 text-center px-6 animate-fade">
    <h1 class="mt-40 mb-14 text-3xl md:text-4xl font-extrabold text-white drop-shadow-lg">
      Revolutionizing The Way You Interact With & Govern Data
    </h1>
    <div class="mt-6 justify-center">
      <img src="4ig-product-dashboard-1.png" />
    </div>
  </div>
</section>
