<section class="relative w-full min-h-screen flex items-center justify-center px-4 py-16 bg-black text-white"
  style="font-family: 'Manrope', 'Open Sans', sans-serif">
  <div class="max-w-6xl mx-auto flex flex-col-reverse md:flex-row items-center w-full">

    <!-- Left Column: Text -->
    <div class="mt-1 md:mt-0 md:w-1/2 flex flex-col gap-6">

      <span class="md:text-6xl text-4xl">
        Revolutionizing The Way You Interact With & Govern Data
      </span>
      <p class="font-light md:text-3xl pl-1 text-2xl text-white mt-[-0.5rem]">
        Where Power Meets Purpose
      </p>
      <!-- <span class="block font-light text-3xl pl-1 mt-0">Meets Purpose</span> -->
      <a href="contact_us.html">
        <button class="learn-more pt-6">
          <span class="circle" aria-hidden="true">
            <span class="icon arrow"></span>
          </span>
          <span class="button-text text-lg pt-6 #00332b underline">Contact Us</span>
        </button>
      </a>
    </div>

    <!-- Right Column: Image -->
    <div class="lg:mt-0 lg:col-span-5 lg:flex relative">
      <div class="h-auto w-auto">

        <div *ngIf="product === '4ig'" class="w-[400px] h-[400px] md:w-[450px] md:h-[450px]">
          <img src="4ig_hero.svg" alt="4ig"/>
        </div>
       
        <div *ngIf="product === 'breach-profiler'" class="w-[400px] h-[400px] md:w-[450px] md:h-[450px]">
          <img src="breach_profiler.svg" alt="breach-profiler"/>
        </div>
       
        <div *ngIf="product === 'obscure-pi'" class="w-[400px] h-[400px] md:w-[450px] md:h-[450px]">
          <img src="obscure_pi.svg" alt="obscure-pi"/>
        </div>

      </div>
    </div>
  </div>
</section>
