<section class="bg-[#ffffff] text-[#12423C] py-16 px-6 sm:px-6 lg:px-8" style="font-family: 'Manrope', 'Open Sans', sans-serif">
    <div class="max-w-7xl mx-auto">
      <h2 class="text-4xl font-semibold mb-20 tracking-wide text-center">
        Features
      </h2>
  
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-24 md:gap-20 sm:gap-12">
        <!-- Feature Item 1 -->
        <div class="space-y-4 sm:flex sm:items-start sm:gap-4 text-left">
          <div class="w-16 h-16 flex-shrink-0">
            <img src="on-premise-or-in-the-cloud.png" alt="">
          </div>
          <div>
            <h3 class="text-2xl font-semibold">Automate Entire Process</h3>
            <!-- <button onclick="toggleDescription(1)" class="text-[#E76F51] hover:text-[#E65A4E] font-medium mt-3 inline-block hover:underline">
              Read More →
            </button> -->
            <p class="text-[#12423C] mt-2">
              Automate the entire DSAR workflow, from request intake to data retrieval and response, reducing manual effort and ensuring efficiency.
            </p>
          </div>
        </div>
  
        <!-- Feature Item 2 -->
        <div class="space-y-4 sm:flex sm:items-start sm:gap-4 text-left">
          <div class="w-16 h-16 flex-shrink-0">
            <img src="comprehensive-audit-reporting.png" alt="">
          </div>
          <div>
            <h3 class="text-2xl font-semibold">Securely Retrieve, Verify & Respond</h3>
            <!-- <button onclick="toggleDescription(2)" class="text-[#E76F51] hover:text-[#E65A4E] font-medium mt-3 inline-block hover:underline">
              Read More →
            </button> -->
            <p class="text-[#12423C] mt-2">
              Safely gather, verify, and deliver requested information with built-in security protocols to protect sensitive data.
            </p>
          </div>
        </div>
  
        <!-- Feature Item 3 -->
        <div class="space-y-4 sm:flex sm:items-start sm:gap-4 text-left">
          <div class="w-16 h-16 flex-shrink-0">
            <img src="tag-track-and-secure.png" alt="">
          </div>
          <div>
            <h3 class="text-2xl font-semibold">Centralize Data Management</h3>
            <p class="text-[#12423C] mt-2">
              Manage all DSARs from a single, centralized platform, ensuring consistency and control over personal data requests.
            </p>
          </div>
        </div>
  
        <!-- Feature Item 4 -->
        <div class="space-y-4 sm:flex sm:items-start sm:gap-4 text-left">
          <div class="w-16 h-16 flex-shrink-0">
            <img src="cohesive-search-discovery.png" alt="">
          </div>
          <div>
            <h3 class="text-2xl font-semibold">Increase Transparency & Accountability</h3>
            <p class="text-[#12423C] mt-2">
              Improve visibility and accountability throughout the DSAR process with detailed audit trails and tracking of actions taken.
            </p>
          </div>
        </div>
  
        <!-- Feature Item 5 -->
        <div class="space-y-4 sm:flex sm:items-start sm:gap-4 text-left">
          <div class="w-16 h-16 flex-shrink-0">
            <img src="information-transformation.png" alt="">
          </div>
          <div>
            <h3 class="text-2xl font-semibold">Quickly Ensure Compliance</h3>
            <p class="text-[#12423C] mt-2">
              Streamline compliance with privacy regulations by quickly identifying and processing personal data, meeting regulatory deadlines.
            </p>
          </div>
        </div>
  
        <!-- Feature Item 6 -->
        <div class="space-y-4 sm:flex sm:items-start sm:gap-4 text-left">
          <div class="w-16 h-16 flex-shrink-0">
            <img src="fast and easy notification list creation.png" alt="">
          </div>
          <div>
            <h3 class="text-2xl font-semibold">Drastically Reduce Time and Save on Costs</h3>
            <p class="text-[#12423C] mt-2">
              Cut down on processing time and reduce costs through automation, efficient workflows, and minimized manual intervention.
            </p>
          </div>
        </div>
  
  
  
      </div>
    </div>
    <div class="mt-12 grid grid-cols-1" data-aos="fade-up" data-aos-duration="800">
      <div class="w-full h-[1px] bg-[#9BAAB0]"></div>
    </div>
  
    <div #countUpElements class="grid grid-cols-2 md:grid-cols-4 gap-6 mt-16 text-center mr-8">
      <div data-aos="fade-up" data-aos-delay="200">
        <h3 #countUp class="text-3xl font-bold text-[#000000] count-up" data-count="50">0 +</h3>
        <p class="text-[#000000]">Data Connectors</p>
      </div>
      <div data-aos="fade-up" data-aos-delay="300">
        <h3 #countUp class="text-3xl font-bold text-[#000000] count-up" data-count="600">0+</h3>
        <p class="text-[#000000]">PXI Definitions</p>
      </div>
      <div data-aos="fade-up" data-aos-delay="400">
        <h3 #countUp class="text-3xl font-bold text-[#000000] count-up" data-count="1500">0 +</h3>
        <p class="text-[#000000]">Retention Policies</p>
      </div>
      <div data-aos="fade-up" data-aos-delay="500">
        <h3 #countUp class="text-3xl font-bold text-[#000000] count-up" data-count="10">0 +</h3>
        <p class="text-[#000000]">Data Under Management <span class="text-sm">(Pbs)</span></p>
      </div>
    </div>
  </section>
  