<div class="bg-[#ffffff] text-white w-full">
    <app-header></app-header>
    <app-products-hero-section [product]="'obscure-pi'"></app-products-hero-section>
    <app-products-obscure-product></app-products-obscure-product>
    <app-products-obscure-list></app-products-obscure-list>
    <app-products-obscure-advantages></app-products-obscure-advantages>
    <app-products-obscure-features></app-products-obscure-features>
    <app-trusted-leaders [bgColor]="'#ffffff'"></app-trusted-leaders>
    <!-- <app-expert-section [headingText]="'Want to see it in action?'"></app-expert-section> -->
    <app-footer></app-footer>
</div>