<section class="bg-[#EAF4F2] opacity-0 animate-fade">
    <div class="max-w-7xl mx-auto px-4 py-16 sm:px-6 lg:px-8">
      <h2 class="text-3xl font-bold text-gray-900 text-center">
        ObscurePI<sup>®</sup>
      </h2>
      <p class="mt-4 max-w-3xl mx-auto text-center text-gray-700">
        ObscurePI®, a key module of the 4iG Suite, is an advanced technology focusing on the identification, management, and protection of personally identifiable information (PII) through various automated actions such as redaction, anonymization, deletion or encryption.

        ObscurePI® is a first of kind technology to offer on-demand redactions on all native file types eliminating the need to image documents in order to apply redactions.
      </p>
  
      <div class="mt-12 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        <div class="bg-white p-6 rounded-lg shadow feature-card">
          <div class="text-[#E76F51]">
            <svg class="w-12 h-12 mx-auto"
                 fill="none"
                 stroke="currentColor"
                 viewBox="0 0 24 24">
              <path stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M12 20l9-5-9-5-9 5 9 5z" />
              <path stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M12 12l9-5-9-5-9 5 9 5z" />
            </svg>
          </div>
          <h3 class="mt-4 text-xl font-semibold text-gray-800 text-center">
            TRUST
          </h3>
          <p class="mt-2 text-gray-600 text-center">
            ObscurePI® simplifies privacy, and compliance – and enables the sound data stewardship that builds trust over time.
          </p>
        </div>
  
        <div class="bg-white p-6 rounded-lg shadow feature-card">
          <div class="text-[#E76F51]">
            <svg class="w-12 h-12 mx-auto"
                 fill="none"
                 stroke="currentColor"
                 viewBox="0 0 24 24">
              <path stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M11 17l-5-5m0 0l5-5m-5 5h12" />
            </svg>
          </div>
          <h3 class="mt-4 text-xl font-semibold text-gray-800 text-center">
            COMPLIANCE
          </h3>
          <p class="mt-2 text-gray-600 text-center">
            As our moral, ethical and legal obligations to identify and protect PII continues to increase, ObscurePI® enables the identification, regulatory compliance and protection of PII required by modern business privacy and compliance needs. 
          </p>
        </div>
  
        <div class="bg-white p-6 rounded-lg shadow feature-card">
          <div class="text-[#E76F51]">
            <svg class="w-12 h-12 mx-auto"
                 fill="none"
                 stroke="currentColor"
                 viewBox="0 0 24 24">
              <path stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M9 17v-6a2 2 0 114 0v6m-4-6a2 2 0 00-4 0v6m8-6a2 2 0 014 0v6" />
            </svg>
          </div>
          <h3 class="mt-4 text-xl font-semibold text-gray-800 text-center">
            EFFICIENCY
          </h3>
          <p class="mt-2 text-gray-600 text-center">
            This substantially simplifies compliance with HIPAA, GDPR, CCPA, Sarbanes-Oxley, FISMA and other data privacy and compliance regulations. 
          </p>
        </div>
  
        <!-- <div class="bg-white p-6 rounded-lg shadow feature-card">
          <div class="text-[#E76F51]">
            <svg class="w-12 h-12 mx-auto"
                 fill="none"
                 stroke="currentColor"
                 viewBox="0 0 24 24">
              <path stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M13 10V3L4 14h7v7l9-11h-7z" />
            </svg>
          </div>
          <h3 class="mt-4 text-xl font-semibold text-gray-800 text-center">
            Act
          </h3>
          <p class="mt-2 text-gray-600 text-center">
            Corporations, law firms and service providers are able to glean
            insights, proactively mitigate risk, and transform governance
            with game-changing accuracy, efficiency, and cost savings.
          </p>
        </div> -->
      </div>
    </div>
  </section>
  