<section class="bg-[#EAF4F2] py-16 px-6 md:px-12 lg:px-24">
    <div class="max-w-6xl mx-auto">
      <!-- Section Title -->
      <div class="text-center mb-12">
        <h2 class="text-4xl font-bold text-[#12423C]">
          Unified Information Governance
        </h2>
        <p class="mt-4 text-xl text-[#1E2D2F] text-justify">
          Data governance is the greatest risk and the greatest opportunity for modern business growth. Information governance (IG) strategy is business strategy and this is why we built 4iG.
        </p>
      </div>
  
      <!-- Columns Layout -->
      <div class="columns-1 md:columns-2 gap-8">
        <!-- Card 1 -->
        <div class="bg-white rounded-lg shadow p-8 flex flex-col break-inside-avoid mb-8">
          <h3 class="text-2xl font-semibold text-[#12423C] border-b border-gray-200 pb-2 mb-4">
            Identity & Organize
          </h3>
          <p id="desc-1" class="text-[#1E2D2F] text-md mb-4 truncate-text text-justify">
            Build a dynamic data map, seamlessly integrate, and gather data from all of your structured & unstructured data sources.
          </p>
          <!-- <button [attr.data-id]="1" (click)="toggleDescription(1)" class="mt-auto text-[#E76F51] hover:text-[#E65A4E] font-medium inline-block hover:underline read-more-btn toggleBtn">
            Read More →
          </button> -->
        </div>
  
        <!-- Card 2 -->
        <div class="bg-white rounded-lg shadow p-8 flex flex-col break-inside-avoid mb-8">
          <h3 class="text-2xl font-semibold text-[#12423C] border-b border-gray-200 pb-2 mb-4">
            Unified Data Repository
          </h3>
          <p id="desc-2" class="text-[#1E2D2F] text-md mb-4 truncate-text text-justify">
            Creates a single, cohesive repository across the enterprise to comprehensively address information governance challenges.
          </p>
          <!-- <button [attr.data-id]="2" (click)="toggleDescription(2)" class="mt-auto text-[#E76F51] hover:text-[#E65A4E] font-medium inline-block hover:underline read-more-btn toggleBtn">
            Read More →
          </button> -->
        </div>
  
        <!-- Card 3 -->
        <div class="bg-white rounded-lg shadow p-8 flex flex-col break-inside-avoid mb-8">
          <h3 class="text-2xl font-semibold text-[#12423C] border-b border-gray-200 pb-2 mb-4">
            Unified Search & Analysis
          </h3>
          <p id="desc-3" class="text-[#1E2D2F] text-md mb-4 truncate-text text-justify">
            Enables the analysis of data to revel patterns, behaviour, correlation, and other key insights on a mass scale. Use the integrated Artificial Integillence technology to search, categorize, and secure your data.
          </p>
          <!-- <button [attr.data-id]="3" (click)="toggleDescription(3)" class="mt-auto text-[#E76F51] hover:text-[#E65A4E] font-medium inline-block hover:underline read-more-btn toggleBtn">
            Read More →
          </button> -->
        </div>
  
        <!-- Card 4 -->
        <div class="bg-white rounded-lg shadow p-8 flex flex-col break-inside-avoid mb-8">
          <h3 class="text-2xl font-semibold text-[#12423C] border-b border-gray-200 pb-2 mb-4">
            Collect & Transform
          </h3>
          <p id="desc-4" class="text-[#1E2D2F] text-md mb-4 truncate-text text-justify">
            Collect all enterprise data, regardless of source, into a single, intelligible data asset, and transform it for in-depth analysis.
          </p>
          <!-- <button [attr.data-id]="4" (click)="toggleDescription(4)" class="mt-auto text-[#E76F51] hover:text-[#E65A4E] font-medium inline-block hover:underline read-more-btn toggleBtn">
            Read More →
          </button> -->
        </div>
  
        <!-- Card 6 -->
        <div class="bg-white rounded-lg shadow p-8 flex flex-col break-inside-avoid mb-8">
          <h3 class="text-2xl font-semibold text-[#12423C] border-b border-gray-200 pb-2 mb-4">
            Your Solution
          </h3>
          <p id="desc-6" class="text-[#1E2D2F] text-md mb-4 truncate-text text-justify">
            Provides users with control and empowers them to solve problems relating to Information Governance, Compilance, Privacy & Security, GDPR, and much more.
          </p>
          <!-- <button [attr.data-id]="6" (click)="toggleDescription(6)" class="mt-auto text-[#E76F51] hover:text-[#E65A4E] font-medium inline-block hover:underline read-more-btn toggleBtn">
            Read More →
          </button> -->
        </div>

        <!-- Card 5 -->
        <div class="bg-white rounded-lg shadow p-8 flex flex-col break-inside-avoid mb-8">
          <h3 class="text-2xl font-semibold text-[#12423C] border-b border-gray-200 pb-2 mb-4">
            Augmented Integillence
          </h3>
          <p id="desc-5" class="text-[#1E2D2F] text-md mb-4 truncate-text text-justify">
            4iG augments the collected information and categorizes it into a meaningfully defined relationship people, places, ideas, communications, sensitive information and their common connections.
          </p>
          <!-- <button [attr.data-id]="5" (click)="toggleDescription(5)" class="mt-auto text-[#E76F51] hover:text-[#E65A4E] font-medium inline-block hover:underline read-more-btn toggleBtn">
            Read More →
          </button> -->
        </div>
      </div>
    </div>
  </section>
  