.toggleBtn {
  cursor: pointer;
  width: fit-content;
}
.slide-toggle {
  overflow: hidden;
  transition: max-height 0.4s ease;
}

.truncate-text {
  max-height: 4.5em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}
