.toggleBtn {
  cursor: pointer;
  width: fit-content;
}
.truncate-text {
  max-height: 4.5em; /* Approx 3 lines */
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
    transition: max-height 0.5s ease; /* Optional */
}

.slide-toggle {
  max-height: 1000px; /* Simulate slide down - should be larger than any actual content */
  transition: max-height 0.4s ease;
  overflow: hidden;
}
.slide-toggle.collapsing {
  max-height: 4.5em;
}
.fade-in-on-scroll {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 0.6s ease;
}

.animate-fade-in-up {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
