<section class="bg-[#12423C] text-[#ffffff] py-16 px-6 sm:px-6 lg:px-8" style="font-family: 'Manrope', 'Open Sans', sans-serif">
  <div class="max-w-7xl mx-auto">
    <h2 class="text-4xl font-semibold mb-20 tracking-wide text-center">
      About <span class="italic">Us</span>
    </h2>

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-24 md:gap-20 sm:gap-12">
      <!-- Feature Item 1 -->
      <div class="space-y-4 sm:flex sm:items-start sm:gap-4 text-left">
        <div class="w-16 h-16 flex-shrink-0">
          <img src="our_mission.png" alt="">
        </div>
        <div>
          <h3 class="text-2xl font-semibold">
            Our Mission
          </h3>
          <!-- <button onclick="toggleDescription(1)" class="text-[#E76F51] hover:text-[#E65A4E] font-medium mt-3 inline-block hover:underline">
            Read More →
          </button> -->
          <p class="text-[#ffffff] mt-2 text-justify" text-justify>
            is to redefine the way organizations use data to generate actionable intelligence and empower smarter decision-making
          </p>
        </div>
      </div>

      <!-- Feature Item 2 -->
      <div class="space-y-4 sm:flex sm:items-start sm:gap-4 text-left">
        <div class="w-16 h-16 flex-shrink-0">
          <img src="our_goal.png" alt="">
        </div>
        <div>
          <h3 class="text-2xl font-semibold">Our Goal</h3>
          <!-- <button onclick="toggleDescription(2)" class="text-[#E76F51] hover:text-[#E65A4E] font-medium mt-3 inline-block hover:underline">
            Read More →
          </button> -->
          <p class="text-[#ffffff] mt-2 text-justify">
            Is to foster imagination and innovation in developing new technologies
          </p>
        </div>
      </div>

      <!-- Feature Item 3 -->
      <div class="space-y-4 sm:flex sm:items-start sm:gap-4 text-left">
        <div class="w-16 h-16 flex-shrink-0">
          <img src="our_strategy.png" alt="">
        </div>
        <div>
          <h3 class="text-2xl font-semibold">Our Strategy</h3>
          <p class="text-[#ffffff] mt-2 text-justify">
            Is to incorporate the human element into modern technologies including AI and deep learning, combining the power of people and technology for optimum outcomes
          </p>
        </div>
      </div>

      <!-- Feature Item 4 -->
      <div class="space-y-4 sm:flex sm:items-start sm:gap-4 text-left">
        <div class="w-16 h-16 flex-shrink-0">
          <img src="our_passion.png" alt="">
        </div>
        <div>
          <h3 class="text-2xl font-semibold">Our Passion</h3>
          <p class="text-[#ffffff] mt-2 text-justify">
            Is developing sophisticated, yet simplified solutions that empower organizations to make smarter business decisions
          </p>
        </div>
      </div>

      <!-- Feature Item 5 -->
      <div class="space-y-4 sm:flex sm:items-start sm:gap-4 text-left">
        <div class="w-16 h-16 flex-shrink-0">
          <img src="our_value.png" alt="">
        </div>
        <div>
          <h3 class="text-2xl font-semibold">Our Values</h3>
          <p class="text-[#ffffff] mt-2 text-justify">
            Is fostering a culture of kindness, belonging and respect, we reward hard work and ingenuity to motivate our team as they push the limits in designing new solutions for today’s data management challenges
          </p>
        </div>
      </div>

      <!-- Feature Item 6 -->
      <!-- <div class="space-y-4 sm:flex sm:items-start sm:gap-4 text-left">
        <div class="w-16 h-16 flex-shrink-0">
          <img src="images/fast and easy notification list creation.png" alt="">
        </div>
        <div>
          <h3 class="text-2xl font-semibold">Fast & Easy Notification List Creation</h3>
          <p class="text-[#12423C] mt-2">
            Generate accurate notification lists quickly and efficiently, ensuring timely communication with affected individuals.
          </p>
        </div>
      </div> -->
    </div>
  </div>
</section>
