<section class="bg-[#EAF4F2] py-16 px-6 md:px-12 lg:px-24">
    <div class="max-w-6xl mx-auto">
      <!-- Section Title -->
      <div class="text-center mb-12">
        <h2 class="text-4xl font-bold text-[#12423C]">
          eDiscovery
        </h2>
        <p class="mt-4 text-xl text-[#1E2D2F] text-justify">
          The exponential growth of data volumes, types, and compliance requirements have outpaced businesses’ abilities to manage it efficiently.

          The old e-Discovery adage of finding the needle in the haystack is no longer operable- there are too many haystacks and they’ve grown too large.

          We’ve reduced the multiple, oversized ‘haystacks’ to a single haystack—and improved it to make laser-targeted search faster, more accurate and cheaper.
        </p>
      </div>
  
      <!-- Columns Layout -->
      <div class="columns-1 md:columns-2 gap-8">
        <!-- Card 1 -->
        <div class="bg-white rounded-lg shadow p-8 flex flex-col break-inside-avoid mb-8">
          <h3 class="text-2xl font-semibold text-[#12423C] border-b border-gray-200 pb-2 mb-4">
            Dynamic Data Repository
          </h3>
          <p id="desc-1" class="text-[#1E2D2F] text-md mb-4 truncate-text text-justify">
            Connect enterprise data and
            systems including cloud and on-
            premises applicaitons such as G
            Suite, Office 365, File Shares, &
            SharePoint sites.
          </p>
          <!-- <button [attr.data-id]="1" (click)="toggleDescription(1)" class="mt-auto text-[#E76F51] hover:text-[#E65A4E] font-medium inline-block hover:underline read-more-btn toggleBtn">
            Read More →
          </button> -->
        </div>
  
        <!-- Card 2 -->
        <div class="bg-white rounded-lg shadow p-8 flex flex-col break-inside-avoid mb-8">
          <h3 class="text-2xl font-semibold text-[#12423C] border-b border-gray-200 pb-2 mb-4">
            Early Data Assessment
          </h3>
          <p id="desc-2" class="text-[#1E2D2F] text-md mb-4 truncate-text text-justify">
            Take advantage of Al based
            searching to gain insights into your
            data and quickly identify and filter
            relevant data for your matter.
          </p>
          <!-- <button [attr.data-id]="2" (click)="toggleDescription(2)" class="mt-auto text-[#E76F51] hover:text-[#E65A4E] font-medium inline-block hover:underline read-more-btn toggleBtn">
            Read More →
          </button> -->
        </div>
  
        <!-- Card 3 -->
        <div class="bg-white rounded-lg shadow p-8 flex flex-col break-inside-avoid mb-8">
          <h3 class="text-2xl font-semibold text-[#12423C] border-b border-gray-200 pb-2 mb-4">
            Secure Pll
          </h3>
          <p id="desc-3" class="text-[#1E2D2F] text-md mb-4 truncate-text text-justify">
            Identify all Pll and other sensitive
            information. Reporting allows you to
            quickly identify the presence of such
            information & protect it if needed.
          </p>
          <!-- <button [attr.data-id]="3" (click)="toggleDescription(3)" class="mt-auto text-[#E76F51] hover:text-[#E65A4E] font-medium inline-block hover:underline read-more-btn toggleBtn">
            Read More →
          </button> -->
        </div>
  
        <!-- Card 4 -->
        <div class="bg-white rounded-lg shadow p-8 flex flex-col break-inside-avoid mb-8">
          <h3 class="text-2xl font-semibold text-[#12423C] border-b border-gray-200 pb-2 mb-4">
            Export
          </h3>
          <p id="desc-4" class="text-[#1E2D2F] text-md mb-4 truncate-text text-justify">
            Review integrated platorms such as
            Relativity or customize your export to
            include your data and documents
            for your preferred platorm.
          </p>
          <!-- <button [attr.data-id]="4" (click)="toggleDescription(4)" class="mt-auto text-[#E76F51] hover:text-[#E65A4E] font-medium inline-block hover:underline read-more-btn toggleBtn">
            Read More →
          </button> -->
        </div>
  
        <!-- Card 5 -->
        <!-- <div class="bg-white rounded-lg shadow p-8 flex flex-col break-inside-avoid mb-8">
          <h3 class="text-2xl font-semibold text-[#12423C] border-b border-gray-200 pb-2 mb-4">
            Efficient Entity Management Powered by AI
          </h3>
          <p id="desc-5" class="text-[#1E2D2F] text-md mb-4 truncate-text">
            The solution’s entity identification and automated entity-to-file association functionalities significantly reduce review time and ensure a robust audit trail. Identified entities and PII are instantly accessible in customizable reports, including pre-built reports tailored for common requirements. Users can search by PII type, entity, or PII volume, export data for jurisdictional review, generate third-party notification lists for legal counsel, and compile lists of unmatched PII values for further investigation.  In addition to our proven machine learning algorithms, you can also choose to employ GenAI to enhance insights and accuracy via a private Large Language Model we’ve developed or plug in your own
          </p>
          <button [attr.data-id]="5" (click)="toggleDescription(5)" class="mt-auto text-[#E76F51] hover:text-[#E65A4E] font-medium inline-block hover:underline read-more-btn toggleBtn">
            Read More →
          </button>
        </div> -->
  
        <!-- Card 6 -->
        <!-- <div class="bg-white rounded-lg shadow p-8 flex flex-col break-inside-avoid mb-8">
          <h3 class="text-2xl font-semibold text-[#12423C] border-b border-gray-200 pb-2 mb-4">
            Proven and Reliable with No Surprises
          </h3>
          <p id="desc-6" class="text-[#1E2D2F] text-md mb-4 truncate-text">
            Most importantly, BreachProfiler™ is battle tested and trusted by some of the largest providers of data breach reviews in the world.  We have clients processing terabytes of source data every day with ease, and others managing more than 750 million records within a single data “space” inside the platform.  While other platforms often charge extra when large volumes of structured PII are detected within a single file as well as high monthly hosting costs, 4iG® treats all data equally. There are no hidden upcharges based on the complexity of your data, ensuring predictable costs regardless of the breach’s size or structure
          </p>
          <button [attr.data-id]="6" (click)="toggleDescription(6)" class="mt-auto text-[#E76F51] hover:text-[#E65A4E] font-medium inline-block hover:underline read-more-btn toggleBtn">
            Read More →
          </button>
        </div> -->
      </div>
    </div>
  </section>
  