<section class="bg-[#EAF5F4] py-10 px-4 sm:px-6 lg:px-20 mt-[3.25rem]">
  <div class="max-w-8xl mx-auto">
    <h1 class="text-3xl text-center font-bold text-gray-800 mb-8">BLOGS</h1>

    <!-- Container for all blogs in a row -->
    <div class="flex flex-row flex-wrap gap-6">
      <div class="bg-black border-gray-700 rounded-lg shadow-sm bg-white dark:border-gray-700 max-w-sm relative group"
           *ngFor="let blog of blogs; let i = index;">
        <!-- Hover buttons -->
        <div class="absolute bottom-2 right-2 flex gap-2 opacity-0 group-hover:opacity-100 transition-opacity">
          <button class="bg-blue-500 text-white text-sm px-2 py-1 rounded hover:bg-blue-600" (click)="editBlog(blog)">
            Edit
          </button>
          <!--<button class="bg-red-500 text-white text-sm px-2 py-1 rounded hover:bg-red-600" (click)="deleteBlog(blog.id)">
            Delete
          </button>-->
        </div>
        <a class="w-80">
          <img class="rounded-t-lg h-40 w-80 object-cover"
               [src]="blog.image"
               alt="blog_image" />
        </a>
        <div class="p-4 w-80">
          <a>
            <h5 class="mb-2 text-xl font-bold tracking-tight text-black">
              {{ blog.title }}
            </h5>
          </a>
          <p class="mb-4 text-gray-400 dark:text-gray-500">
            {{ blog.brief }}
          </p>
          <p class="text-gray-700 dark:text-gray-700">
            <i class="far fa-calendar-alt mr-1"></i> {{ blog.publishedDate }}
          </p>
          <a class="text-[#E76F51] hover:text-[#E65A4E] font-normal mt-1 inline-block hover:underline cursor-pointer">
            Read More →
          </a>
          <!--[routerLink]="['/Resources/Blogs/', blog.title, blog.guid]"-->
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-[#12423C] py-10 px-4 sm:px-6 lg:px-20">
  <div class="max-w-8xl mx-auto">
    <h1 class="text-3xl text-center font-bold text-white mb-8">NEWS AND EVENTS</h1>

    <!-- Container for all blogs in a row -->
    <div class="flex flex-row flex-wrap gap-6">
      <div class="bg-black border border-gray-700 rounded-lg shadow-sm bg-white dark:border-gray-700 max-w-sm"
           *ngFor="let blog of news; let i = index;">
        <a class="w-80">
          <img class="rounded-t-lg h-40 w-80 object-cover"
               [src]="blog.image"
               alt="blog_image" />
        </a>
        <div class="p-4 w-80">
          <a>
            <h5 class="mb-2 text-xl font-bold tracking-tight text-black">
              {{ blog.title }}
            </h5>
          </a>
          <p class="mb-4 text-gray-400 dark:text-gray-500">
            {{ blog.brief }}
          </p>
          <p class="text-gray-700 dark:text-gray-700">
            <i class="far fa-calendar-alt mr-1"></i> {{ blog.publishedDate }}
          </p>
          <a class="text-[#E76F51] hover:text-[#E65A4E] font-normal mt-1 inline-block hover:underline cursor-pointer">
            Read More →
          </a>
          <!--[routerLink]="['/Resources/Blogs/', blog.title, blog.guid]"-->
        </div>
      </div>
    </div>
  </div>
</section>

<div *ngIf="showDeletePopup"
     class="fixed inset-0 bg-black bg-opacity-40 flex items-center justify-center">
  <div class="bg-white p-6 rounded-2xl shadow-xl text-center max-w-sm">
    <h3 class="text-xl font-semibold mb-4">Please cofirm before Delete!</h3>
    <p class="mb-6">You are going to delete this blog from the public website <a class="text-blue-600 hover:underline hover:text-blue-800 cursor-pointer">infinnium.com</a>
    </p>
    <button (click)="closePopup()"
            class="bg-red-600 text-white px-4 py-2 rounded-md hover:bg-red-700 transition">
      Confirm DELETE
    </button>
  </div>
</div>

<div *ngIf="showEditPopup"
     class="fixed inset-0 bg-black bg-opacity-40 flex items-center justify-center">
  <div class="bg-white p-6 rounded-2xl shadow-xl text-center max-w-sm">
    <h3 class="text-xl font-semibold mb-4">Please cofirm before Edit!</h3>
    <p class="mb-6">
      You are going to edit this blog from the public website <a class="text-blue-600 hover:underline hover:text-blue-800 cursor-pointer">infinnium.com</a>
    </p>
    <button (click)="navigateEditBlog()"
            class="bg-blue-600 text-white px-4 py-2 rounded-md hover:bg-blue-700 transition">
      Confirm EDIT
    </button>
  </div>
</div>
