<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<section class="relative -mt-20 pb-16" style="font-family: 'Manrope', 'Open Sans', sans-serif">
    <div class="max-w-4xl mx-auto bg-white rounded-lg shadow-lg p-8 px-4 sm:px-12">
        <h3 class="text-center text-lg font-semibold mb-6 ">Send Us Message</h3>
        <form id="contactForm" class="space-y-4">
            <!-- First & Last Name -->
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                <div>
                    <label class="block text-[#12423C] text-sm mb-1">First Name<span
                            class="text-red-600">*</span></label>
                    <input type="text" id="firstName"
                        class="w-full border rounded-lg p-3 focus:outline-none focus:ring-2 focus:ring-gray-900"
                        placeholder="First Name" required />
                </div>
                <div>
                    <label class="block text-[#12423C] text-sm mb-1">Last Name <span
                            class="text-red-600">*</span></label>
                    <input type="text" id="lastName"
                        class="w-full border rounded-lg p-3 focus:outline-none focus:ring-2 focus:ring-gray-900"
                        placeholder="Last Name" required />
                </div>
            </div>
            <!-- Email & Phone -->
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                <div>
                    <label class="block text-[#12423C] text-sm mb-1">Email <span class="text-red-600">*</span></label>
                    <input type="email" id="email"
                        class="w-full border rounded-lg p-3 focus:outline-none focus:ring-2 focus:ring-gray-900"
                        placeholder="Email" required />
                </div>
                <div>
                    <label class="block text-[#12423C] text-sm mb-1">Phone Number <span
                            class="text-red-600">*</span></label>
                    <input type="tel" id="phone"
                        class="w-full border rounded-lg p-3 focus:outline-none focus:ring-2 focus:ring-gray-900"
                        placeholder="Phone" required />
                </div>
            </div>
            <!-- Description -->
            <div>
                <label class="block text-[#12423C] text-sm mb-1">Description <span class="text-red-600">*</span></label>
                <textarea id="message" rows="4"
                    class="w-full border rounded-lg p-3 focus:outline-none focus:ring-2 focus:ring-gray-900"
                    placeholder="Write Message . . ." required></textarea>
            </div>
            <!-- Submit Button -->
            <button type="submit"
                class="w-full bg-[#E76F51] text-[#ffffff] py-3 text-md font-normal rounded-3xl transition duration-300 ease-in-out hover:bg-[#D65C3D]">
                Submit
            </button>

            <!-- <button type="submit" class="contact-common w-[52rem] py-2">
            <p class="mx-auto text-lg font-normal">Submit</p>
          </button>-->
        </form>
    </div>
</section>