<div class="bg-black text-white w-full">
    <app-header></app-header>
    <app-solutions-hero-section [solution]="'Legal hold'"></app-solutions-hero-section>
    <app-legal-hold-about></app-legal-hold-about>
    <app-legal-hold-features></app-legal-hold-features>
    <app-trusted-leaders [bgColor]="'#12423C'"></app-trusted-leaders>
    <!-- <app-recent-blogs></app-recent-blogs> -->
    <!-- <app-expert-section [headingText]="'Want to see it in action?'"></app-expert-section> -->
    <app-footer></app-footer>
</div>